#map {
  height: 60%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border: 10px solid #000;

}

html, body {
  height: 110%;
  margin: 0;
  padding: 0;
  background-color: #9cf3ff;
  background-image: linear-gradient(#ff405c, purple);
}

#inputPanel {
  position: absolute;
  margin-top: 5px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 2px solid #000;
  text-align: center;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino;
  line-height: 30px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px 10px 10px 10px;
}

#button {
  border-radius: 7px 7px 7px 7px;
  border: 1px solid #000;
  background-color: white;
}

#inputStart {
  border-radius: 7px 7px 7px 7px;
  border: 1px solid #000;
  padding-left: 3px;
}

#inputEnd {
  border-radius: 7px 7px 7px 7px;
  border: 1px solid #000;
  padding-left: 3px;
}

#outputPanel {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino;
  margin-top: 0px;
  border: 2px solid #000;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  height: 45px;
  visibility: hidden;
  font-weight: bold;
  border-radius: 10px 10px 10px 10px;
  background-color: white;
}

#logo {
  width: 300px;
  height: 300px;
  position: absolute;
  margin-top: -40px;
  margin-left: 25px;
}

#title {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino;
  margin-top: 5px;
  font-size: 42px;
  text-align: center;
  color: white;
}

#driveTime {
  color: blue;
}

#walkTime {
  color: red;
}

.textBox {
  width: 300px;
}
